* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

h1, h2, h3, h4, h5, p, input {
	margin: 0 auto;
	text-align: center;
	font-family: Montserrat;
	color: #ffffff;
}

input[type=button] {
	padding: 20px;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #000000;
	font-family: Montserrat;
	border: 1px solid #ffffff;
	border-radius: 5px;
	background: #ffffff;
}

.page {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.page-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 999px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://s1.ax1x.com/2018/05/07/Ca8TyT.jpg), no-repeat;
}

.page-first > .title {
	width: 100%;
	position: relative;
	font-size: 62px;
	color: #c1c0bd;
}

.page-first .text {
	position: relative;
	margin-top: 30px;
	width: 54%;
	text-align: center;
	line-height: 1.6;
	font-size: 20px;
	color: #c1c0bd;
}

.page-first .form-account {
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	width: 970px;
	margin: 40px auto;
	border: 1px solid rgba(255, 255, 255, .2);
	padding: 30px 20px;
}

.page-first .form-account .subtitle {
	padding-top: 20px;
	font-size: 14px;
}

.page-first .form-btns {
	display: flex;
	justify-content: flex-start;
	padding: 60px 20px;
	width: calc(100% - 10px);
}

.page-first .form-btns input[type=text] {
	width: 300px;
	padding: 15px;
	font-size: 15px;
	text-align: left;
	border: 1px solid #979593;
	background-color: transparent;
	color: #ffffff;
	outline: none;
}

.page-first .form-btns input[type=button] {
	width: 180px;
	margin-left: 20px;
}

.page-second .title {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 85px;
	font-weight: 800;
	letter-spacing: 1.5px;
	font-family: Montserrat light;
	color: #000000;
	font-size: 14px;
}

.page-second .subtitle {
	position: relative;
	top: 95px;
	width: 600px;
	font-weight: 800;
	color: #000000;
	font-size: 30px;
}

.page-second .main {
	width: 1080px;
	margin: 160px auto 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.page-second .item {
	position: relative;
	width: 440px;
	height: 166px;
}

.page-second .item:nth-child(even) {
	margin-left: 140px;
}

.page-second .icon {
	position: absolute;
}

.page-second .item .item-title {
	text-align: left;
	padding-bottom: 10px;
	color: #000;
	padding-left: 80px;
}

.page-second .item .item-content {
	text-align: left;
	width: 400px;
	color: #000;
	margin: 10px 0;
	padding-left: 80px;
} 

.page-third {
	display: flex;
	width: 100%;
	height: 800px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://s1.ax1x.com/2018/05/08/CaOwrj.jpg);
}

.page-third .left-panel, .right-panel {
	display: flex;
	width: 50%;
}

.page-third .left-panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page-third .left-panel .title {
	margin: 40px 0 0 0;
	width: 400px;
	text-align: left;
}

.page-third .left-panel .content {
	margin: 40px 0 0 0;
	line-height: 1.5;
	width: 400px;
	text-align: left;
	color: #c1c3c1;
}

.page-third .btns {
	margin-top: 60px;
	position: relative;
	width: 460px;
	left: 26px;
}

.page-third .btns input[type="button"]:first-child {
	margin-right: 10px;
}

.page-third .right-panel {
	align-items: center;
	justify-content: flex-end;
}

.page-third .right-panel .frame {
	position: relative;
	display: flex;
	align-items: center;
	height: 600px;
	border: 1px solid #939493;
	border-radius: 20px;
}

.page-third .right-panel .frame::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #939493;
	vertical-align: middle;
	margin: 0 40px;
}

.page-third .right-panel img {
	width: 468px;
	vertical-align: middle;
}

.page-fourth {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.page-fourth .title {
	position: relative;
	padding-top: 120px;
	text-align: center;
	color: #000;
	font-size: 36px;
}

.page-fourth .articles {
	padding: 100px 0 200px 0;
	display: flex;
	position: relative;
	justify-content: center;
	-webkit-justify-content: center;
	color: #000;
}

.page-fourth .articles .article {
	flex: 1;
	text-align: center;
}

.page-fourth .articles .article .article-content {
	width: 60%;
	margin-top: 40px;
	color: #000;	
}

.page-fifth {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.page-fifth .graphic {
	position: relative;
	width: 970px;
	height: 400px;
	margin: 100px auto;
}

.page-fifth .graphic:nth-child(odd) {
	padding-left: 620px;
}

.page-fifth .graphic .title {
	text-align: left;
	padding-top: 20px;
	margin: 30px 0;
	font-size: 22px;
	font-family: Montserrat light;
	color: #000000;
}

.page-fifth .graphic .content {
	text-align: left;
	font-size: 16px;
	font-family: Montserrat light;
	color: #000000;
}


.page-fifth .graphic:nth-child(odd) img {
	position: absolute;
	left: 0px;
}

.page-fifth .graphic:nth-child(even) img {
	position: absolute;
	right: 0px;
	bottom: 56px;
}

.page-fifth .graphic .content {
	display: inline-block;
	color: #000000;
}

.page-sixth {
	border-bottom: 1px solid #e7e7e7;
}

.page-sixth .title {
	margin-top: 40px;
	color: #9f8080;
}

.page-sixth .content {
	margin-top: 40px;
	line-height: 1.3;
	color: #acacac;
}

.page-sixth .crew {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	padding: 20px;
}

.crew img {
	transform: scale(0.9);
}

.page-last {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 970px;
	font-family: Montserrat;
}

.page-last .form {
	position: relative;
	margin-top: 60px;
	padding: 30px 0;
	flex: 0 1 470px;
	height: auto;
	border: 1px solid #e7e7e7;
}

.page-last .form .title {
	margin-top: 0px;
	font-size: 16px;
	color: #000000;
}

.page-last .form input[type=text] {
	display: block;
	margin: 20px auto;
	width: calc(100% - 90px);
	padding: 15px;
	font-size: 15px;
	color: #a7a7a7;
	font-family: Montserrat;
	border: 1px solid #d4d3d3;
	background-color: transparent;
	outline: none;
}

.page-last .form input[type=button] {
	display: block;
	margin: 20px auto;
	width: calc(100% - 60px);
	padding: 15px;
	font-size: 15px;
	background-color: black;
	color: #ffffff;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}

.page-last .form input[type=text]:nth-of-type(3) {
	padding: 15px 15px 70px 15px;
}

.page-last .contact {
	position: relative;
	margin-left: 80px;
	padding: 60px;
	flex: 1;
}

.page-last .contact .title {
	margin: 40px 0px 30px 0px;
	text-align: left;
	color: #000000;
	font-size: 36px;
}

.page-last .contact .content {
	position: relative;
	text-align: left;
	color: #000000;
}

.content-details {
	margin: 30px 0;
}

.content-details span {
	font-weight: 800;
	text-align: left;
	vertical-align: middle;
	margin-top: 6px;
}

.content-details img {
	display: inline-block;
	float: left;
	width: 29px;
	height: 38px;
	vertical-align: middle;
	margin-right: 20px;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	width: 100%;
	height: 350px;
	margin-top: 40px;
	background: #000000;
}

.footer ul {
	margin: 65px 0px;
	width: 20%;
	color: #ffffff;
	font-family: Montserrat light;
}

.footer ul li:nth-child(1) {
	color: #ffffff;
	font-size: 15px;
}

.footer li {
	list-style: none;
	padding: 10px 0;
	font-size: 12px;
	color: #6f6f72;
}

.footer li+img {
	margin: 30px 0;
}