* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
html,body {
	width:100%;
	height:100%;
	min-width: 400px;
	overflow-y: hidden;
}
@font-face {
	font-family:ProximaNova;
	src:url('./fonts/proximanova.ttf')format('truetype');
}
hr {
	margin:15px auto;
	width:80%;
	background-color: #2a3547;
	opacity: 0.2;
}
h1,h2,p,span,b{
	font-family: ProximaNove;
}
a,li {
	font-family:ProximaNove; 
	font-size: 11px;
}
li {
	list-style-type: none;
	padding: 8px 8px 8px 30px;
	color: #4e5a6b;
}
a {
	text-decoration: none;
	opacity: 0.5;
	color: #ffffff;
}
img + a {
	margin-left:5px;
}
input[type="text"] {
	margin: 20px 36px;
    width: 80%;
    border-radius: 5px;
    padding: 12px;
    font-family:ProximaNova;
    border: 1px solid #e5e8ee;
    border-radius: 5px;
    color:#b2bac8;
}
input[type="button"] {
	float: left;
	width: 37px;
	height: 32px;
    border: 1px solid #ced0da;
    background-image: linear-gradient(to bottom,#fff,#f2f4f7);
}
.button:nth-of-type(1) input[type="button"] {
	border-radius: 5px 0px 0px 5px;
}
.button:nth-last-child(1) input[type="button"] {
	border-radius:0px 5px 5px 0px;
}
/*最左侧导航栏*/
#nav {
	position: relative;
	float:left;
	width: 100px;
	height: 100%;
	background: #1d2531;	
}
.nav-ft {
	position: absolute;
    left: 10%;
    bottom: 0%;
}
#nav .nav-icon a {
	display: block;
    width: 61px;
    height: 60px;
    opacity: 1;
    margin: 20px auto;
}
#nav .nav-ft a {
	display: inline-block;
	width: 17px;
	height: 17px;
	opacity: 1;
	margin: 20px 10px;
}
#nav .nav-icon a:nth-of-type(1) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKoGD.png);
}
#nav .nav-icon a:nth-of-type(2) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKIPO.png);
}
#nav .nav-icon a:nth-of-type(3) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKha6.png);
}
#nav .nav-icon a:nth-of-type(4) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgK4IK.png);
}
#nav .nav-ft a:nth-of-type(1) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgYXee.png);
}
#nav .nav-ft a:nth-of-type(2) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgYjdH.png);
}
/*菜单栏*/
#menu {
	float: left;
	position: relative;
	width: 280px;
	height: 100%;
	background-color: #222c3c; 
	overflow: hidden;
}
#menu .list {
	position: relative;
}
#menu .list:nth-of-type(3) li:nth-child(5) a{
	opacity: 1;
}
#menu .list li img {
	position: relative;
}
.list img:nth-of-type(1){
	position: absolute;
	right: 4%;
	top:4%;
}
.list:nth-of-type(3) a:nth-of-type(2) {
	opacity: 1;
}
.prompt {
	position: absolute;
	right: 4%;
	padding: 5px 8px;
	font-family:ProximaNove;
	font-size:12px; 
	border-radius: 8px;
	background: #2ca0f7;
    color:#ffffff;
}
.sign {
	position: absolute;
	right: 4%;
	width:30px;
	height:30px;
	border-radius: 50%;
	background: #e8472b;
	color:#ffffff;
	font-family:ProximaNove;
}
.sign span {
	margin-left: 12px; 
	vertical-align: middle;	
}
.footer {
	position: absolute;
	bottom:1%;
	left:10%;
	font-size: 14px;
	color:#fff;
}
.footer span {
	margin-right: 15px;
}
.bar {
	display: inline-block;
	margin: 8px 0px;
	width:20%;
	height:4px;
	border-radius: 4px 0px 0px 4px;
	background-image: linear-gradient(to right,#7f5be6,#9d8ee3);
}
.bar_2 {
	display: inline-block;
	margin: 8px 0 8px -4px;
	width:73%;
	height:4px;
	border-radius: 4px;
	background-color:#2d3848;
}
#Message {
	float:left;
	width:calc(100% - 380px);
	height:100%;
}
/*Message头部*/
.Header {
	position: relative;
	width:100%;
	height:65px;
	border-bottom: 1px solid #e6e9ec;
}
.Header h2{
	position: absolute;
    left: 5%;
    font-weight: 500;
}
.Header img {
	position: absolute;
	right:15%;
	top:4%;
	margin-top:5px;
}
.Header span:nth-of-type(1){
	position: absolute;
	right: 8%;
	top: 5px;
	color:#2399f1;
}
.Header span:nth-of-type(2){
	position: absolute;
    right: 3%;
    top: 10px;
}
.Arrowdown:after {
	content:'';
	display: inline-block;
	width: 8px;
	height:8px;
	border-top: 2px solid #c3cada;
	border-right: 2px solid #c3cada;
	transform: rotate(135deg);
	cursor: pointer; 
} 
.Header h5 {
	position: absolute;
	right:6%;
	top:27px;
	color:#b5b5b5;
}
/*Message左部*/
.col-left {
	width: 35%;
	height:calc(100% - 65px);
	float:left;
}
.search {
	position: relative;
	width:100%;
	height:80px;
	border-bottom: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee; 
}
.icon {
	position: absolute;
	right:18%;
	top:30px;
	background:url(https://s1.ax1x.com/2018/05/24/CWEGZV.png)
	           no-repeat;
	width:18px;
	height:18px;
	cursor: pointer;
}
.col-left-list {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: scroll;
}
.col-left-list::-webkit-scrollbar {
	display: none;
}
.dynamic {
	position: relative;
	width: 100%;
	height:130px;
	border-bottom: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee; 
}
.dynamic img {
	position: absolute;
	left:5%;
	top:7%;
}
.dynamic h5 {
	position: absolute;
	left: 18%;
	top: 29%;
	font-weight:500;
	color: #b5b5b5;
}
.dynamic:nth-child(1) {
	border-left: 3px solid #2399f1;
}
.dynamic span:nth-of-type(1) {
	position: absolute;
	left:18%;
	top:7%;
}
.dynamic:nth-child(1) span:nth-of-type(1) {
	position: absolute;
	left:20%;
	top:7%;
	color: #2ca0f7;
}
.dynamic:nth-child(1) span:nth-of-type(1):before {
	content: '';
	position: absolute;
	left:-12px;
	top:5px;
    width: 10px;
    height: 10px;
    background: #2ca0f7;
    border-radius: 50%;
}
.dynamic span:nth-of-type(2) {
	position: absolute;
	right:4%;
	top:7%;
	color:#7f8fa4;
	font-size: 13px;
}
.dynamic p {
	margin:0 45px;
	position: absolute;
	bottom:12%;
	color: #767a82;
	width:80%;
	font-size:13px;
}
.dynamic .prompt {
	position: absolute;
    bottom: 20%;
    right:1%;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.dynamic .prompt b {
	font-weight: 500;
}
/*Message右部*/
.col-right {
	position: relative;
	float:left;
	width: 65%;
	height:calc(100% - 65px);
	overflow: hidden;
}
.col-right-hd {
	position: relative;
	width:100%;
	height:80px;
	border-bottom: 1px solid #e6e9ec;
}
.col-right-hd h4 {
	margin: 27px;
    display: inline-block;
    font-weight: 500;
}
.col-right-hd h4:after {
	content: '';
	position: absolute;
    left: 130px;
    top: 34px;
    width: 10px;
    height: 10px;
    background: #1bb934;
    border-radius: 50%;
}
.buttons {
	position: absolute;
	right: 5%;
    top: 20px;
    height: 100%
	display: inline-block;
}
.buttons span {
    position: absolute;
    bottom: 10px;
    right: 80px;
    font-size: 13px;
}
.buttons_one,.buttons_two {
	display: inline-block;
}
.buttons_one {
	margin-right:50px;
}
.buttons_two {
	margin-left:15px;
	position: relative;
}
.buttons_two .button:nth-child(1):before {
	content:'';
	display: inline-block;
	width: 8px;
	height:8px;
	border-top: 2px solid #c3cada;
	border-right: 2px solid #c3cada;
	transform: rotate(135deg); 
}
.button {
	position: relative;
	display: inline;
}
.bicon {
	display: inline-block;
	position: absolute;
	top: 7px;
    left: 10px;
	width:16px;
	height:18px;
}
.button:nth-of-type(1) .bicon{
	background: url(https://s1.ax1x.com/2018/05/24/CWElMn.png);

}
.button:nth-of-type(2) .bicon{
	background: url(https://s1.ax1x.com/2018/05/24/CWEJaT.png);

}
.button:nth-of-type(3) .bicon{
	background: url(https://s1.ax1x.com/2018/05/24/CWE1rq.png);
}
.triangle {
	width:0;
	height:0;
	border-style: solid;
}
.buttons_two .triangle:nth-child(1) {
	position: absolute;
    right: 53px;
    top: 8px;
	border-width:7px 7px 7px 0;
    border-color:transparent #ced0da transparent transparent;
}
.buttons_two .triangle:nth-child(3) {
	position: absolute;
    right: 15px;
    top: 8px;
	border-width:7px 0 7px 7px;
    border-color:transparent transparent transparent #ced0da;
}
.col-right-main {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: scroll;
}
.col-right-main::-webkit-scrollbar {
	display: none;
}
.log {
	position: relative;
	width:100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e8ee;
}
.sublog {
	position: relative;
	width: 100%;
	padding:20px 0 0 80px;
}
.sublog img{
	position: absolute;
    left: 3%;
    top: 10%;
}
.sublog .span span:nth-child(2) {
	font-size:13px;
	color:#767a82;
}
.sublog p {
	padding-top: 10px;
	width: 95%;
	font-size:13px;
	color: #767a82;
}
.log span:nth-child(3) {
	position: absolute;
    left: 45%;
    top: 97%;
    font-size: 13px;
    background-color: #fff;
}
.log:nth-of-type(2) {
	border-bottom: 1px solid #2399f1;
}
.log:nth-of-type(2) span:nth-child(3) {
	color:#2399f1;
}
.sublog .images img {
	position: relative;
	margin-top:10px;
	left:0%;
}
.add_btn {
	position: relative;
	width: 100%;
	margin:20px 40px;
}
.add_btn input[type="text"] {
	margin:0 auto;
	padding:0px;
	display: inline-block;
    width: 85%;
    height:40px;
    text-align: center;
    border-radius: 0px 5px 5px 0;
}
.add_btn input[type="button"]:nth-last-child(2) {
	display: inline-block;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
}
.crosses {
	position: absolute;
	left: 2%;
    top: 50%;
}
.cross {
    width: 10px;
    height: 2px;
    background: #9fa9ba;
    z-index: 1;
}
.cross:nth-last-child(1){
	position: absolute;
    bottom: 10%;
	transform: rotate(90deg);
	z-index: 2;
} 