* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 1256px;
}

@font-face {
	font-family: ProximaNova;
	src: url('./fonts/proximanova.ttf')format('truetype');
}

h1, h2, p, span, b , a, li{
	font-family: ProximaNove;
}

/* 左侧导航栏 */
.aside {
	display: flex;
	float: left;
	width: 350px;
	height: 100%;
	background: #1d2531;
	overflow: hidden;
}

/* 导航栏第一列 */
.aside .app {
	position: relative;
	width: 100px;
	height: 100%;
}

.aside .app .app-btns a {
	display: block;
	width: 61px;
	height: 60px;
	opacity: 1;
	margin: 20px auto;
}

.aside .app .app-btns a:nth-of-type(1) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKoGD.png);
}

.aside .app .app-btns a:nth-of-type(2) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKIPO.png);
}

.aside .app .app-btns a:nth-of-type(3) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgKha6.png);
}

.aside .app .app-btns a:nth-of-type(4) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgK4IK.png);
}

.aside .app .app-ft {
	position: absolute;
	left: 25px;
	width: 50px;
	bottom: 2%;
	font-size: 0;
}

.aside .app .app-ft a {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 20px 4px;
}

.aside .app .app-ft a:nth-of-type(1) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgYXee.png);
}

.aside .app .app-ft a:nth-of-type(2) {
	background-image: url(https://s1.ax1x.com/2018/05/20/CgYjdH.png);
}

/* 导航栏第二列 */
.aside .menu-container {
	width: 250px;
	overflow: hidden;
}

.aside .menu {
	position: relative;
	width: 280px;
	height: 100%;
	padding: 20px;
	background-color: #222c3c;
	overflow-y: auto;
}

.aside .menu .list::after {
	margin: 0 auto;
	display: block;
	position: relative;
	content: "";
	width: 98%;
	height: 1px;
	margin-top: 20px;
	background-color: #2a3547;
	opacity: 1;
}

.aside .menu .list .list-title {
	margin: 20px 0;
	font-size: 12px;
	color: #5b6779;
}

.aside .menu .list .list-title::after {
	float: right;
	content: "";
	width: 14px;
	height: 14px;
	background-size: cover;
	background-image: url(https://s1.ax1x.com/2018/05/20/CgYjdH.png);
}

.aside .menu .list .list-items {
	margin: 16px 0;
}

.aside .menu .list .list-items .list-item {
	list-style: none;
	color: #4e5a6b;
	padding: 10px 0;
	font-size: 13px;
	text-transform: capitalize;
}

.aside .menu .list .list-items .list-item a {
	text-decoration: none;
	color: #fff;
	opacity: 0.6;
}

.aside .menu .list .list-items .list-item img + a {
	margin-left: 10px;
}

.aside .menu .footer {
	position: fixed;
	width: 250px;
	height: 55px;
	margin: 0 auto;
	left: 100px;
	bottom: 0%;
	font-size: 13px;
	color: #fff;
	background-color: #222c3c;
}

.aside .menu .footer span:first-child {
	margin: 0 6px 0 24px;
}

.aside .menu .footer .bar {
	margin: 12px auto;
	width: 200px;
	height: 4px;
	border-radius: 4px;
	background-color: #2d3848;
}

.aside .menu .footer .bar::after {
	display: block;
	content: "";
	width: 20%;
	height: 4px;
	border-radius: 4px;
	background-image: linear-gradient(to right, #7f5be6, #9d8ee3);
}

.aside .menu .list .list-items .list-item .prompt {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	font-family: ProximaNove;
	width: 30px;
	height: 24px;
	font-size: 12px;
	border-radius: 8px;
	background: #2ca0f7;
	color: #ffffff;
}

.aside .menu .list .list-items .list-item .sign {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 30px;
	height: 24px;
	border-radius: 8px;
	background: #e8472b;
	color: #ffffff;
	font-family: ProximaNove;
}

/*Message头部*/
.message {	
	float: left;
	width: calc(100% - 350px);
	height: 100%;
}

.header {
	position: relative;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #e6e9ec;
}

.header .title {
	float: left;
	padding: 16px;
	font-size: 24px;
	font-weight: 500;
}

.header .user {
	float: right;
	width: 220px;
	padding: 6px;
	height: 100%;
}

.header .user::after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	border-top: 2px solid #c3cada;
	border-right: 2px solid #c3cada;
	transform: rotate(135deg);
	cursor: pointer;
	top: 20px;
	right: 10px;
}

.header .user img {
	float: left;
	width: 22%;
}

.header .user-name {
	float: right;
	margin-top: 2px;
	width: 65%;
	font-size: 14px;
	color: #2399f1;
}

.header .user-job {
	float: right;
	width: 65%;
	font-size: 14px;
	color:  #b5b5b5;
}

/*message左半部分*/
.chats {
	float: left;
	width: 410px;
	height: calc(100% - 65px);
}

.chats .chats-search {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee;
}

.chats .chats-search .icon {
	position: absolute;
	right: 47px;
	top: 50%;
	margin-top: -9px;
	background: url(https://s1.ax1x.com/2018/05/24/CWEGZV.png) no-repeat;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.chats .chats-search input[type="text"] {
	width: 80%;
	border-radius: 5px;
	padding: 12px;
	font-family: ProximaNova;
	border: 1px solid #e5e8ee;
	color: #b2bac8;
	outline: none;
}

.chats .chats-lists-wrapper {
	width: 100%;
	height: calc(100% - 80px);
	overflow: hidden;
}

.chats .chats-lists-wrapper .chats-lists {
	width: calc(100% + 17px);
	height: 100%;
	overflow-y: auto;
}

.chats-lists .chats-item {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee;
}

.chats-item .chats-info {
	position: relative;
	padding: 20px 30px 6px;
}

.chats-item .chats-info img {
	position: absolute;
}

.chats-item .chats-info .chat-name {
	padding: 0px 60px;
	font-size: 14px;
}

.chats-item .chats-info .chat-company {
	padding: 6px 60px;
	font-size: 13px;
	color: #b5b5b5;
}

.chats-item .chats-info .chat-distance{
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #7f8fa4;
}

.chats-item .chat-content {
	width: 96%;
	padding: 0px 30px 20px;
	font-size: 13px;
	color: #767a82;
}

.chats-item.active::before {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #2399f1;
}

.chats-item.active .chats-info .chat-name {
	color: #2399f1;
}

.chats-item.active .chats-info .chat-name::before {
	display: inline-block;
	content: "";
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-right: 4px;
	background: #2399f1;
}

.chats-item .prompt {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 25px;
	bottom: 20px;
	color: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #2399f1;
	font-size: 13px;
	font-weight: 300;
}

/*Message右部*/
.articles {
	position: relative;
	float: left;
	width: calc(100% - 410px);
	height: calc(100% - 65px);
	overflow: hidden;
}

.articles .header {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #e6e9ec;
}

.articles .header .title {
	padding: 28px;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
}

.articles .header .title::after {
	margin-left: 10px;
	display: inline-block;
	content: '';
	width: 10px;
	height: 10px;
	background: #1bb934;
	border-radius: 50%;
}

.articles .header .header-btns {
	padding: 22px;
	display: flex;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	font-size: 0;
}

.articles .header .header-btns input[type="button"] {
	width: 37px;
	height: 32px;
	border: 1px solid #ced0da;
	background-image: linear-gradient(to bottom, #fff, #f2f4f7);
	outline: none;
}

.btn:first-child input[type="button"] {
	border-radius: 5px 0px 0px 5px;
}

.btn:last-child input[type="button"] {
	border-radius: 0px 5px 5px 0px;
} 

.articles .header .header-btns .btn {
	display: inline-block;
	position: relative;
}

.btns-group-one .btn .btn-icon{
	position: absolute;
	width: 16px;
	height: 18px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btns-group-one .btn:nth-child(1) .btn-icon {
	background: url(https://s1.ax1x.com/2018/05/24/CWElMn.png);
}

.btns-group-one .btn:nth-child(2) .btn-icon {
	background: url(https://s1.ax1x.com/2018/05/24/CWEJaT.png);
}

.btns-group-one .btn:nth-child(3) .btn-icon {
	background: url(https://s1.ax1x.com/2018/05/24/CWE1rq.png);
}

.btns-group-one , .header-btns .percent{
	margin-right: 10px;
}

.header-btns .percent {
	font-size: 13px;
	color: #000;
}

.triangle {
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	display: inline;
	transform: translate(-50%, -50%);
	border-width: 6px;
	border-style: solid;
}

.btns-group-two .btn:nth-child(1) .triangle {
	border-color: transparent #ced0da transparent transparent;
}

.btns-group-two .btn:nth-child(2) .triangle {
	border-color: transparent transparent transparent #ced0da;
} 

.articles-lists-wrapper {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: scroll;
}

.articles-lists-wrapper::-webkit-scrollbar {
	display: none;
}

.articles-lists {
	position: relative;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e8ee;
}

.articles-item {
	position: relative;
	width: 100%;
	padding: 20px 0 0 80px;
}

.articles-item > img {
	position: absolute;
	left: 20px;
	top: 22px;
}

.articles-item .article-info .info-time {
	font-size: 13px;
	color: #767a82;
}

.articles-item .article-content {
	padding: 10px 0;
	width: 95%;
	font-size: 13px;
	color: #767a82;
}

.articles-lists .divide-line {
	position: absolute;
	left: 50%;
	bottom: 0px;
	font-size: 13px;
	background-color: #fff;
	transform: translate(-50%, 50%);
}

.articles-lists:nth-of-type(2) {
	border-bottom: 1px solid #2399f1;
}

.articles-lists:nth-of-type(2) .divide-line {
	color: #2399f1;
}

.add-btn {
	position: relative;
	width: 100%;
	padding: 20px 40px;
	font-size: 0;
}

.add-btn input[type="text"] {
	width: calc(100% - 40px);
	height: 40px;
	display: inline-block;
	margin: 0 auto;
	padding: 16px;
	border-radius: 0px 5px 5px 0;
	border: 1px solid #f2f4f7;
	outline: none;
	font-size: 14px;
	vertical-align: middle;
}

.add-btn input[type="button"] {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	border: 1px solid #ced0da;
	background-image: linear-gradient(to bottom, #fff, #f2f4f7);
	vertical-align: middle;
} 